@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace Octodrome.UI.Blazor.Pages

<html>
    <head>
        <base href="~/" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="~/CSS/Octodrome.css"/>
    </head>
    <body>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
        <script src="_framework/blazor.server.js"></script>
    </body>
</html>