
@using BlazorFluentUI
<BFUTheme>
    <BFUStylePreloader LoadAllComponents="true" />
    <BFULayerHost Style="display:flex; flex-direction: row;width:100vw;height:100vh;overflow:hidden;">
        <CascadingAuthenticationState>
            <Router AppAssembly="typeof(MainLayout).Assembly">
                <Found Context="routeData">
                    <BFUResponsiveCascader>
                        <RouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)" />
                    </BFUResponsiveCascader>
                </Found>
                <NotFound>
                    <p>Page not found.</p>
                </NotFound>
            </Router>
        </CascadingAuthenticationState>
    </BFULayerHost>
</BFUTheme>
